<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <img id="hero" src="hero.png" title="Art by suchscary">
  <div id="info">
    <p><span class="suchscary"></span> Art by <a href="https://twitter.com/suchscary" target="_blank" rel="noopener noreferrer">suchscary</a></p>
    <p>Nuclear Throne by Vlambeer</p>
    <p>Link hijacking by yours truly</p>
  </div>
  <div>
    <a href="https://chitin.link">
      <img id="hero" src="https://chitin.link/assets/img/button.png">
    </a>
  </div>
</body>
</html>
